/*
    Emelly Torres
    CS 310 - Introduction to Web Development
    Project 2
    Fall 2026
*/

/* Menu page layout */

.menu-layout {
    align-items: stretch;    
    display: flex; 
    font-size: smaller;
    gap: 30px;
    justify-content: space-between;
}

/* Image on each side */

.menu-image {
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
    object-position: 5% 10%;
    width: 400px;
}

/* title Layout */

.menu-layout h1 { 
    letter-spacing: 2px;
    margin-bottom: -1%;
    margin-left: -15%;
    margin-right: -15%;
    text-align: center;

}

/* Line underneath title */

hr {
    border: none;
    border-top: 3px double #000;
    margin-bottom: 35px;
    margin-left: -25%;
    width: 150%;
}


/*Section title layout*/

.menu-layout h2 {
    font-weight: 1000;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: -25%;
    margin-right: -25%;
    text-align: center;
}

.menu-layout h3 {
    font-weight: 500;
    letter-spacing: 5px;
    margin-top: -5px;
    margin-left: -25%;
    margin-right: -25%;
    text-align: center;
}

/*List Elements*/

.menu-layout ul {
    list-style-type: circle;
    line-height: 90%;
    margin-top: 2%;
    margin-bottom: 20px;
    
}

.menu-layout li {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: -25px;
}

.item {
    font-size: large;
    font-weight: bold;
    list-style-type: none;
}

.flavor {
    font-size: xx-small;
    padding-left: 12%;
}

/* Info at bottom */

.menu-layout h4 {
    font-size: x-small;
    font-weight: bolder;
    margin-bottom: 0px;
    text-align: center;
}

.menu-layout h5 {
    font-size: xx-small;
    margin-top: 0px;
    text-align: center;
}

/*mobile view*/
@media (max-width: 786px) {

    .menu-layout {
        display: block;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    .menu-image {
        display: none;
    }

    hr {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
    }

    /* * {
        outline: 1px solid red;
    } */

}

